Lets create conssole application for Warehouse item managment
The application should allow thwe following commands:

'Add <ShopItem> <Price>' -> Should add item with <ShopItemName>
'Remove <ShopItemName>' -> Should remove an item with name
'List' -> Should list all the item informatiob
'Exit' -> Should close the application